/* ===================================================
*
*	Popup cart module using less
*	@author <karol.gorecki@o2.pl>
*	@last-mod 2012-11-09
*
===================================================== */

/*  Some general styling not important
  ================================================== */
@import 'mixins.less';
@import 'vars.less';

html, body {
  	margin:0 auto;
  	padding:0;
}

body {
	background-color: #c0c0c0;
}

.alpha {
	font:bold italic 24px 'Myriad Pro',arial;
	margin: 0;
	padding: 0;

	&.main-heading {
		color: #222;
		text-shadow:1px 1px 0 #fff;
		margin: 10px 0 10px 20px;
		border-bottom: 1px solid #fff;
	}
}

#cart-button {
	margin: 0 auto;
	width: 200px;
	height: 40px;
	line-height: 40px;
}

/*  Add custom namespace for the popup cart module
  ================================================== */


// my ref http://jsfiddle.net/cX33k/


// !!!!! TODO configurable options!
#cart-button-popup {

	// start variables declaration
	@cart-button-bg: #2be;
	@inner-top-offset: 20px;
	@arrow-size: 12px;
	@arrow-right-offset: 70px;
	@main-box-border-color: #999;
	@main-box-border: 1px solid @main-box-border-color;
	@main-box-radius: 7px;
	@main-box-shadow: 0 7px 10px rgba(0,0,0,.35);
	@main-box-bg: #fff;
	// end variables


	// end mixin

	.init() {
		position:relative;
		height: 40px;
		background-color: @cart-button-bg;

		.inner {
			display: none;
			position: absolute;
			width: 600px;
			padding-top: @inner-top-offset;
			right: 0;

			.main-box {
				padding: 20px;
				border: @main-box-border;
				background-color: @main-box-bg;
				.border-radius(@main-box-radius);
				.box-shadow(@main-box-shadow);

				&:before {
					top: @inner-top-offset - @arrow-size * 2 - 1;
					right: @arrow-right-offset - 1; // - @arrow-size center the offset
					position: absolute;
					display: block;
					content: '';
					border:@arrow-size + 1 solid transparent;
					border-bottom-color: @main-box-border-color;
				}

				&:after {
					top: @inner-top-offset - @arrow-size * 2 + 1;
					right: @arrow-right-offset; // - @arrow-size center the offset
					position: absolute;
					display: block;
					content: '';
					border:@arrow-size solid transparent;
					border-bottom-color: @main-box-bg;
				}
			}
		}

		// start hover action
		&:hover {
			// action for cart button goes here
		}

		&:hover .inner {
			display: block;
		}
	}
}

/*  Append class to the sample button - Example of use
  ================================================== */

  .cart-module {
  	#cart-button-popup > .init;
  }
